/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
.gauge {
  --color: red;
  --width: 400px;
  --deg: calc(90deg - (180deg * (1 - (var(--percent)/100))));

  position: relative;
  width: var(--width);
  height: var(--width);
  border: 10px solid #333;
  border-radius: 50%;
  border-bottom: 10px solid #fff;
  user-select: none;
  background:
    /*small circle in center */
    radial-gradient(ellipse at center, #f73134 0%, #ff0000 2%, transparent 2%, transparent 3%),

    /* a linear gradient to control the progress. Adjust the angle from 0deg to 180deg*/
    linear-gradient(160deg, transparent 50%, #fff 0) top/100% 200%,

    /* bottom cut off area */
    linear-gradient(to top, #fff 0%, #fff 14%, transparent 14%, transparent 15%),

    /* a radial gradient to show only a part of the gradient (20px here)*/
    radial-gradient(ellipse at center, #ffffff 0%, #ffffff 2%, #ffffff 60%, transparent 60%, transparent 61%),

    /* the main gradient */
    conic-gradient(from 180deg at 50% 50%, red 0%, yellow 49%, green 100%);
}

.gauge:hover {
    cursor: pointer;
}

/* Pin */
.gauge:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 20px;
    height: calc((var(--width) / 2) - 10px);
    transform: rotate(var(--deg)) translateX(-50%);
    transform-origin: 0% 100%;
    transition: transform 0.15s ease;
    
    background-color: var(--color);
    
    mask-image: url("https://i.imgur.com/KQ2BxM4.png");
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: 100%;
    
    -webkit-mask-image: url("https://i.imgur.com/KQ2BxM4.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    -webkit-mask-size: 100%;
}

/* Percent */
.gauge:before {
    display: block;
    content: attr(data-percent) "%";
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: fit-content;
    height: fit-content;
    font-size: 35px;
    transform: translateY(200%) translateX(-50%);
}
